@import 'nib'

lightergray = #f7f7f7
lightgray = #eee
gray = #ddd
grayer = #aaa
darkgray = #666
darkergray = #333
orange = #FF4500

*
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

html, body
  height: 100%

body
  font-family: 'pt-serif', serif
  font-size: 62.5%
  -webkit-font-smoothing: antialiased
  background: white

a
  color: orange
  text-decoration: none
  &:hover
    border-bottom: 1px solid orange

img
  display: block

input, select, button
  font-family: 'pt-serif', serif

select
  -webkit-appearance: none

#menu
  display: none
  height: 40px
  background: lightergray
  border-bottom: 1px solid gray
  padding: 0 20px
  line-height: 40px
  font-size: 16px
  text-transform: uppercase
  color: red
  cursor: pointer
  &:hover
    color: black
    background: lightgray
  i
    display: inline-block
    width: 16px
    height: 16px
    text-align: center
    margin-right: 5px

#container
  max-width: 1000px
  padding: 0 20px
  margin: 0 auto

  header
    padding-top: 40px
    margin-bottom: 50px
    h1
      width: 200px
      height: 152px
      background: url('/img/foodportal/logo.png')
      text-indent: -9999px
      margin: 0 auto

  nav.main
    clearfix()
    max-width: 960px
    margin: 0 auto
    background: orange
    height: 40px
    a
      display: block
      float: left
      color: white
      line-height: 40px
      font-size: 16px
      text-transform: uppercase
      padding: 0 20px
      &:hover
        border-bottom: 0
        background: black
      &.active
        background: darkergray
        pointer-events: none

  #content
    font-size: 16px
    position: relative

    h2
      font-size: 30px
      line-height: 1em
      padding: 20px 0
      border-bottom: 1px solid gray

    a.add
      display: block
      position: absolute
      top: 0
      right: 0
      z-index: 100
      cursor: pointer
      font-size: 40px
      line-height: 70px
      font-weight: bold
      background: lightergray
      width: 70px
      height: 70px
      text-align: center
      font-family: serif
      border-left: 1px solid gray
      border-right: 1px solid gray
      &:hover
        background: lightgray
        color: black
        border-bottom: 0

    .info
      padding-top: 10px
      font-size: 20px
      line-height: 40px

    .form_container
      width: 100%
      max-width: 492px
      position: absolute
      right: 0
      top: 70px
      z-index: 100
      border-top: 1px solid gray
      background: lightergray
      form
        padding: 20px
        border: 1px solid gray
        border-top: 0
        &.saving
          pointer-events: none
          opacity: 0.5
        .line
          clearfix()
          margin-bottom: 10px
          &:last-child
            margin: 0
          label
            display: block
            float: left
            width: 150px
            line-height: 30px
            font-size: 16px
          input, select
            display: block
            float: left
            width: 300px
            height: 30px
            border: 1px solid gray
            outline: none
            padding: 0 5px
            font-size: 16px
          input
            &:focus
              border-color: grayer
            &.ng-invalid.ng-dirty
              border-color: orange
            &.small
              width: 100px
          select
            border-radius: 0
            background: white url('/img/foodportal/arrow-select.png') right no-repeat
            &:focus
              border-color: grayer
            &.ng-invalid.ng-dirty
              border-color: orange
          ul.error-list
            clear: both
            list-style: none
            padding: 5px 0 0 150px
            li
              font-size: 16px
              line-height: 1.4em
              color: orange
          button
            display: block
            height: 40px
            line-height: 40px
            background: orange
            color: white
            border: 0
            cursor: pointer
            font-size: 16px
            padding: 0 15px
            text-transform: uppercase
            &:hover
              background: black
            &.disabled
              pointer-events: none
              background: grayer
              opacity: 0.5

    .list
      list-style: none
      padding: 20px 0
      li
        font-size: 16px
        padding: 20px
        margin-bottom: 10px
        background: lightergray
        cursor: pointer
        border: 1px solid gray
        position: relative
        &:hover
          background: lightgray
        &:last-child
          margin: 0
        .icon
          font-size: 50px
          line-height: 1em
          width: 50px
          height: 50px
          text-align: center
          float: left
          color: gray
        .name_address
          padding-left: 70px
          min-height: 50px
          h3
            font-size: 20px
            line-height: 1em
            margin-bottom: 5px
          address
            font-style: normal
            line-height: 1.4em
            margin-top: 10px
            a
              color: darkgray
              &:hover
                color: black
                border: 0
        .distance
          position: absolute
          top: 20px
          right: 20px
          color: darkgray
        .content
          clear: both
          margin-top: 20px
          border-top: 1px dashed gray
          padding-top: 10px
          .description
            margin-top: 10px
            line-height: 1.4em
          .links
            margin-top: 10px
            a
              line-height: 1em
              margin-bottom: 5px
              &:last-child
                margin: 0

    .more
      text-align: center
      padding-top: 10px
      div
        font-size: 16px
        text-transform: uppercase
        border: 0
        background: red
        height: 40px
        padding: 0 20px
        display: inline-block
        color: white
        text-align: center
        line-height: 40px
        cursor: pointer
        outline: none
        &:hover
          background: black

  footer
    padding-bottom: 100px
    margin-top: 100px
    text-align: center
    font-size: 16px
    color: grayer

  #background
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.5)
    z-index: 50

@media (max-width: 640px)
  #menu
    display: block
  #container
    nav.main
      width: 160px
      height: auto
      position: absolute
      top: 40px
      left: 0
      a
        float: none
    #content
      h2
        font-size: 24px
      a.add
        width: 64px
        height: 64px
        line-height: 64px
        border-top: 1px solid gray
      .form_container
        top: 64px
      .list
        li
          .icon
            width: 28px
            height: 28px
            font-size: 28px
            margin-right: 10px
          .name_address
            padding-left: 0
            h3
              line-height: 1.4em
          .distance
            position: static
            color: grayer

@media (max-width: 532px)
  #container
    #content
      .form_container
        form
          .line
            label, input, select
              width: 100%
            ul.error-list
              padding-left: 0