#about section a img {
  float: left;
  width: 250px;
  height: 250px;
  margin: 0 20px 10px 0;
  border: 10px solid #fff;
  box-shadow: rgba(0,0,0,0.5) 0 0 3px;
  -webkit-filter: grayscale(1);
  opacity: 0.8;
}
#about section a:hover img {
  -webkit-filter: grayscale(0);
  opacity: 1;
}
@media (max-width: 500px) {
  #about section a img {
    float: none;
    margin: 0 auto 20px;
  }
}
