h2 Places

a(ng-click='toggleForm()').add {{isVisibleForm ? '–' : '+'}}

.form_container(ng-show='isVisibleForm')
  form(novalidate, name='addPlaceYelpForm', ng-submit='submitYelpForm()', ng-class='{saving: saving}')
    .line
      label(for='place-url') URL*
      input#place-url(type='text', name='url', ng-model='place.yelp.url', required)
      ul.error-list(ng-show='addPlaceYelpForm.url.$invalid && addPlaceYelpForm.url.$dirty')
        li This field is required
    .line
      label(for='place-category') Category*
      select#place-category(name='category', ng-model='place.yelp.category', required)
        option(ng-repeat='category in categories', value='{{ category }}') {{ category.name }}
      ul.error-list(ng-show='addPlaceYelpForm.category.$invalid && addPlaceYelpForm.category.$dirty')
        li This field is required
    .line
      button(ng-disabled='addPlaceYelpForm.$invalid', ng-class='{disabled: addPlaceYelpForm.$invalid}') Submit
  form(novalidate, name='addPlaceForm', ng-submit='submitForm()', ng-class='{saving: saving}')
    .line
      label(for='place-name') Name*
      input#place-name(type='text', name='name', ng-model='place.name', required)
      ul.error-list(ng-show='addPlaceForm.name.$invalid && addPlaceForm.name.$dirty')
        li This field is required
    .line
      label(for='place-description') Description
      input#place-description(type='text', name='description', ng-model='place.description')
    .line
      label(for='place-category') Category*
      select#place-category(name='category', ng-model='place.category', required)
        option(ng-repeat='category in categories', value='{{ category }}') {{ category.name }}
      ul.error-list(ng-show='addPlaceForm.category.$invalid && addPlaceForm.category.$dirty')
        li This field is required
    .line
      label(for='place-address') Address
      input#place-address(type='text', name='address', ng-model='place.address')
    .line
      label(for='place-city') City*
      input#place-city(type='text', name='city', ng-model='place.city', required)
      ul.error-list(ng-show='addPlaceForm.city.$invalid && addPlaceForm.city.$dirty')
        li This field is required
    .line
      label(for='place-zipcode') Zip Code*
      input.small#place-zipcode(type='text', name='zipcode', ng-model='place.zipcode', required)
      ul.error-list(ng-show='addPlaceForm.zipcode.$invalid && addPlaceForm.zipcode.$dirty')
        li This field is required
    .line
      label(for='place-country') Country*
      select#place-country(name='country', ng-model='place.country', required)
        option(value='BE') Belgium
        option(value='US') United States
      ul.error-list(ng-show='addPlaceForm.country.$invalid && addPlaceForm.country.$dirty')
        li This field is required
    .line
      label(for='place-website') Website
      input#place-website(type='text', name='website', ng-model='place.website')
    .line
      button(ng-disabled='addPlaceForm.$invalid', ng-class='{disabled: addPlaceForm.$invalid}') Submit

ul.list(ng-show='places.length > 0')
  li(ng-repeat='place in places', ng-click='toggleVisiblePlace(place.objectId)')
    .icon.fa.fa-birthday-cake(ng-show='place.category.name == "Bakery"')
    .icon.fa.fa-beer(ng-show='place.category.name == "Bar"')
    .icon.fa.fa-beer(ng-show='place.category.name == "Brewery"')
    .icon.fa.fa-coffee(ng-show='place.category.name == "Coffee & Tea"')
    .icon.fa.fa-tree(ng-show='place.category.name == "Farm"')
    .icon.fa.fa-cutlery(ng-show='place.category.name == "Restaurant"')
    .icon.fa.fa-shopping-cart(ng-show='place.category.name == "Store"')
    .icon.fa.fa-glass(ng-show='place.category.name == "Winery"')
    .name_address
      h3 {{ place.name }}
      address: a(href='http://maps.google.com/?q={{ place.formatted_address }}', target='_blank') {{ place.formatted_address }}
    p.distance {{ place.distance | prettyDistance }}
    .content(ng-show='visiblePlaces.indexOf(place.objectId) != -1')
      p.description(ng-show='place.description') {{ place.description }}
      .links
        a.website(href='{{ place.website }}', target='_blank') {{ place.website }}

.noresults.info(ng-show='total == 0')
  p No results.

.position.info(ng-hide='position')
  p(ng-hide='error') Retrieving your location...
  p.error(ng-show='error') Please share your location in order to access the data.

.loading.info(ng-show='position && loading')
  p Loading data...

.more(ng-show='places.length < total && position && !loading')
  div(ng-click='loadMore()') Load more

#background(ng-show='isVisibleForm', ng-click='hideForm()')