nav.submenu
  a(ui-sref='places.farms', ui-sref-active='active') FARMS
  a(ui-sref='places.stores', ui-sref-active='active') STORES
  a(ui-sref='places.restaurants', ui-sref-active='active') RESTAURANTS
  a(ui-sref='places.wineries', ui-sref-active='active') WINERIES
  a(ui-sref='places.breweries', ui-sref-active='active') BREWERIES

#place-container(ui-view='')