@import 'nib'
@import 'common'

#about
  section
    img
      float: left
      width: 250px
      height: 250px
      margin: 0 20px 10px 0
      border: 10px solid white
      box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px