lightergray = #f7f7f7
lightgray = #eee
gray = #ddd
grayer = #aaa
darkgray = #666
darkergray = #333
red = #f00
lightblue = #E5EAF1

*
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

html, body
  height: 100%

body
  font-family: 'pt-serif', serif
  font-size: 62.5%
  -webkit-font-smoothing: antialiased
  background: white

a
  color: red
  text-decoration: none
  &:hover
    border-bottom: 1px solid red

img
  display: block

#container
  max-width: 640px
  padding: 0 20px
  margin: 0 auto

  header
    padding-top: 100px
    margin-bottom: 50px
    h1
      font-family: 'adelle-sans', sans-serif
      font-size: 50px
      line-height: 1em
      margin-bottom: 5px
      a
        color: black
        border: 0
        strong
          color: red
    .subtitle
      font-size: 20px
      line-height: 1.6em
      color: darkgray

  footer
    padding-bottom: 100px
    margin-top: 100px
    text-align: center
    font-size: 16px
    color: grayer

#content
  section
    margin-bottom: 40px
    h2
      font-size: 30px
      line-height: 1.2em
      margin-bottom: 5px
      font-family: 'adelle-sans', sans-serif
      color: black
    p
      font-size: 20px
      line-height: 1.6em
      color: darkgray
      margin-bottom: 20px
      strong
        font-weight: normal
        background-color: lightblue

@media (max-width: 500px)
  #container
    header
      padding-top: 50px
    footer
      padding-bottom: 50px
      margin-top: 50px