lightergray = #f7f7f7
lightgray = #eee
gray = #ddd
grayer = #aaa
darkgray = #666
darkergray = #333

*
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

html, body
  height: 100%

body
  font-family: "Helvetica", "Arial", sans-serif
  font-size: 62.5%
  color: darkgray
  -webkit-font-smoothing: antialiased
  background: white

a
  color: darkgray
  &:hover
    color: black
    text-decoration: none