* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Helvetica', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  background: #fff;
}
h1 {
  width: 200px;
  height: 200px;
  background: url("/assets/frontback.jpg");
  background-size: 200px 200px;
  margin: 100px auto;
  text-indent: -9999px;
}
p {
  max-width: 950px;
  padding: 0 50px;
  font-size: 24px;
  line-height: 1.4em;
  margin: 0 auto 100px;
  font-weight: 100;
}
p a {
  color: #000;
}
ul {
  display: block;
  margin: 0 auto 50px;
  width: 950px;
  list-style: none;
  padding-left: 50px;
}
ul li {
  display: block;
  width: 250px;
  height: 444px;
  float: left;
  margin: 0 50px 50px 0;
}
ul li a img {
  display: block;
  width: 250px;
}
.lightbox {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 100;
}
.lightbox img {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-height: calc(100% - 100px);
  max-width: calc(100% - 100px);
  box-shadow: 0 2px 20px 1px rgba(0,0,0,0.3);
}
.lightbox:target {
  display: block;
}
.lightbox:target ~ #container {
  -webkit-filter: blur(15px);
}
@media (max-width: 950px) {
  ul {
    width: 650px;
  }
}
@media (max-width: 650px) {
  h1 {
    margin: 50px auto;
  }
  p {
    padding: 0 25px;
    font-size: 16px;
    margin-bottom: 50px;
  }
  ul {
    width: 300px;
    padding-left: 25px;
  }
  ul li {
    margin: 0 25px 25px 0;
  }
  .lightbox img {
    max-height: calc(100% - 50px);
    max-width: calc(100% - 50px);
  }
}
