extends layout

block title
  title 404 / Vincent Battaglia

block meta
  meta(name='description', content='Hi, I\'m Vinch. And this is my website.')
  meta(property='og:image', content='http://www.v1n.ch/assets/img/me.jpg')

block stylesheets
  link(rel='stylesheet', href='/assets/css/404.css')

block body
  #_404
    a(href='/'): img(src='/assets/img/404.jpg', alt='404')