extends layout

block title
  title About / Vincent Battaglia

block meta
  meta(name='description', content='Hi, I\'m Vinch. And this is my website.')
  meta(property='og:image', content='http://v1n.ch/img/me.jpg')

block stylesheets
  != css('about')

block body
  #about
    section
      a(href='/img/me.jpg', target='_blank'): img(src='/img/me.jpg')
      p My name is <strong>Vincent Battaglia</strong>. I was born and grew up in Belgium. My father is Italian, which explains my last name, but my mother tongue is French. I currently live in beautiful San Francisco, California with my wife and my daughter, born in June 2014.
      p I define myself as a <strong>Product Engineer</strong>, something between an Engineer and a Product Manager. I studied computer science at the university and I have a tremedous experience in front-end technologies (especially JavaScript), but I’m also very interested in UX and UI design. I love being involved at all stages of a project, and deliver beautiful products using innovative techniques like <strong>lean startup</strong> and <strong>agile</strong> (Scrum/Kanban).
      p I’m currently part of <a href='http://instaply.com' target='_blank'>Instaply</a>’s amazing team. In the past, I worked at <a href='http://www.emakina.com' target='_blank'>Emakina</a>, <a href='http://1md.be' target='_blank'>1MD</a>, <a href='http://www.woorank.com' target='_blank'>WooRank</a> (in Belgium) and <a href='http://storify.com' target='_blank'>Storify</a> (in San Francisco).
      p In my free time, I read (about everything), I draw, I play soccer, I swim, I hike, I bike and <a href='http://lonemountainbrewing.co' target='_blank'>I brew my own beer</a> (true story). I'm also very interested in <strong>food</strong> &amp; <strong>nutrition</strong>.