extends layout

block title
  title About / Vincent Battaglia

block meta
  meta(name='description', content='Hi, I\'m Vinch. And this is my website.')
  meta(property='og:image', content='http://v1n.ch/img/me.jpg')

block stylesheets
  != css('about')

block body
  #about
    section
      a(href='/img/me.jpg', target='_blank'): img(src='/img/me.jpg')
      p My name is <strong>Vincent Battaglia</strong>. I was born and grew up in Belgium. My father is Italian, which explains my last name, but my mother tongue is French. I currently live in Barcelona with my wife and my daughter, after four years in San Francisco, California.
      p I define myself as a <strong>Product Engineer</strong> although it probably wouldn’t be wrong to say I’m a <strong>Jack-of-All-Trades</strong>. I started as a Full-Stack Engineer but I’m doing more and more Product Management as time goes on. I studied computer science at the university and I have a tremendous experience in Front-End technologies (especially JavaScript), but I’m also very interested in UX and UI design. I love being involved at all stages of a project, and deliver wonderful products using innovative techniques like <strong>Lean Startup</strong> and <strong>Agile</strong> (Scrum/Kanban).
      p I’m currently part of <a href='http://instaply.com' target='_blank'>Instaply</a>’s amazing team. In the past, I worked at <a href='http://www.emakina.com' target='_blank'>Emakina</a>, <a href='http://1md.be' target='_blank'>1MD</a>, <a href='http://www.woorank.com' target='_blank'>WooRank</a> (in Belgium) and <a href='http://storify.com' target='_blank'>Storify</a> (in San Francisco).
      p I have many passions including gastronomy, nutrition, enology, rock music, contemporary art and soccer. I also really enjoy travelling, biking and hiking.