extends layout

block title
  title Vinch

block meta
  meta(name='description', content='Hi, I\'m Vinch. And this is my website.')
  meta(property='og:image', content='http://v1n.ch/img/me.jpg')

block stylesheets
  != css('experiments')

block body
  #experiments
    section
      h2 Experiments
      p Here you can find some pieces of code I wrote to learn new tricks or just to have some fun! Everything is <a href='https://github.com/vinch' target='_blank'>on GitHub</a>.
      h3 2013
      ul
        li
          h4
            a(href='https://github.com/vinch/babs', target='_blank') babs
          p A minimalist and mobile-optimized website to find available bikes nearby (based on <a href='http://bayareabikeshare.com' target='_blank'>Bay Area Bike Share</a>'s API) built with Backbone.js. Available online <a href='http://babs.herokuapp.com' target='_blank'>here</a>.
        li
          h4
            a(href='https://github.com/vinch/chat', target='_blank') chat
          p A simple chat I developed to learn <a href='http://socket.io' target='_blank'>Socket.IO</a>. You can find a working version <a href='http://vinchat.herokuapp.com' target='_blank'>here</a> (which is actually not 100% working because <a href='https://devcenter.heroku.com/articles/using-socket-io-with-node-js-on-heroku' target='_blank'>Heroku doesn’t support WebSockets yet</a>).
        li
          h4
            a(href='https://github.com/vinch/gladys', target='_blank') gladys
          p This is the teaser website of the soon famous singer <a href='http://www.gladysmusic.com' target='_blank'>Gladys</a>. It shows a fullscreen YouTube video and I used their <a href='https://developers.google.com/youtube/js_api_reference' target='_blank'>JavaScript Player API</a> to control it.
        li
          h4
            a(href='https://github.com/vinch/v1n.ch', target='_blank') v1n.ch
          p This website is quite an experiment itself. It uses modern technologies like Node.js, Express.js, CoffeeScript, Stylus, Jade, Handlebars, Bower, Grunt, etc.
      h3 2012
      ul
        li
          h4
            a(href='https://github.com/vinch/croche', target='_blank') croche
          p I implemented this one as an exercise to learn Node.js when I was working at Storify. It’s a simple thumbnail generator. Just give it the URL of an image, a width and a height and it will return you <a href='http://croche.herokuapp.com/?url=http://cl.ly/image/0s0C0f040g0L/duck.JPG&width=150&height=150' target='_blank'>a perfect thumbnail</a>.
        li
          h4
            a(href='https://github.com/vinch/peep.js', target='_blank') peep.js
          p A small side-project I created with <a href='http://brdrck.me' target='_blank'>Jeff Broderick</a> that provides fully customizable sharing buttons for your website. Supported services are: Delicious, Facebook, Google+, LinkedIn, Pinterest and Twitter. The buttons you can see on <a href='http://www.vinch.be' target='_blank'>my blog</a> are powered by peep.js!
        li
          h4
            a(href='https://github.com/vinch/plusonecount', target='_blank') plusonecount
          p Most of the social media websites provide a URL count (e.g. <a href='http://urls.api.twitter.com/1/urls/count.json?url=http://www.google.com' target='_blank'>Twitter</a> or <a href='http://graph.facebook.com/http://www.google.com' target='_blank'>Facebook</a>) but unfortunately, Google+ doesn’t. I needed one for peep.js (see above) so I decided to create it by scraping <a href='https://plusone.google.com/_/+1/fastbutton?url=http://www.google.com' target='_blank'>this page</a>. You can see the result <a href='http://plusonecount.herokuapp.com/?url=http://www.google.com&callback=doSomethingWithThat' target='_blank'>here</a> with a JSONP callback.
        li
          h4
            a(href='https://github.com/vinch/story-json', target='_blank') story-json
          p A <a href='http://www.vinch.be/experiments/story-json' target='_blank'>bookmarklet</a> you can drag & drop to your bookmarks bar and which allows you to see the JSON version of a Storify story. It was very useful for debugging.
      h3 2011
      ul
        li
          h4
            a(href='https://github.com/vinch/air-quality-belgium', target='_blank') air-quality-belgium
          p Back when I was in Belgium, I wanted to create a simple web service to get the air quality in major Belgian cities (I don’t remember why). Unfortunately, the <a href='http://www.irceline.be' target='_blank'>IRCEL-CELINE</a> doesn’t provide any official APIs to get these data. So, I decided to scrape one of their pages with <a href='https://github.com/fabpot/Goutte' target='_blank'>Goutte</a> (PHP) to provide <a href='http://vinch.be/experiments/air/data.php' target='_blank'>a beautiful result in JSON</a>.
        li
          h4
            a(href='https://github.com/vinch/jQuery-Apple-Effect', target='_blank') jquery.appleEffect
          p <a href='http://www.vinch.be/experiments/jquery.appleEffect' target='_blank'>My first and only jQuery plugin</a>, written back in 2011. An attempt to reproduce the effect seen multiple times on Apple’s website.
        li
          h4
            a(href='https://github.com/vinch/jsonviewer', target='_blank') jsonviewer
          p I wrote this little PHP script to have a nice way to <a href='http://vinch.be/experiments/jsonviewer/' target='_blank'>visualize JSON files in the browser</a>. It became kinda useless when <a href='https://chrome.google.com/webstore/detail/jsonview/chklaanhfefbnpoihckbnefhakgolnmc?hl=en' target='_blank'>this Chrome plugin</a> went out though.