extends layout

block title
  title Vincent Battaglia

block meta
  meta(name='description', content='Hi, I\'m Vinch. And this is my website.')
  meta(property='og:image', content='http://v1n.ch/img/me.jpg')

block stylesheets
  != css('home')

block javascripts
  != js('home')

block body
  #home
    section
      h2 Who?
      p My name is <strong>Vincent Battaglia</strong>. I’m a Product Engineer based in San Francisco, California. Find out <a href='/about'>more about me</a>.
    section
      h2 What?
      p I help building <a href='http://instaply.com' target='_blank'>Instaply</a>. I previously worked in web agencies and tech startups in Europe and the United States. Check out <a href='http://www.linkedin.com/in/vinch' target='_blank'>my LinkedIn profile</a> to know more about my path and my skills.
    section#photos
    section#posts
    section
      h2 Experiments
      p Coding is not only part of my job, it’s also my passion! I like hacking stuff and writing pieces of code to learn new tricks or sometimes just for fun! Have a look at <a href='/experiments'>my experiments page</a> to see what I do.
    section
      h2 Let’s stay in touch!
      p I’m pretty active on the Internet. Mostly, you’ll find me on <a href='http://twitter.com/vinchbat', target='_blank'>Twitter</a> and <a href='http://www.facebook.com/vinch', target='_blank'>Facebook</a>. If you want to reach me for important business (or just to say hi), you can <a href='mailto:vincent.battaglia@gmail.com'>send me an email</a>.

  script(id='photos-template', type='text/x-handlebars-template')
    h2 Photos
    .container
      {{#each photos}}
      a(href='{{link}}', target='_blank')
        img(src='{{thumbnail}}', alt='{{title}}')
      {{/each}}
    p Follow me on <a href='http://instagram.com/vinchbat', target='_blank'>Instagram</a>

  script(id='posts-template', type='text/x-handlebars-template')
    h2 Latest posts
    p I started <a href='http://www.vinch.be'>my blog</a> back in 2006. It’s mainly in French but I recently started to write posts in English.
    ul
      {{#each posts}}
      li
        h3: a(href='{{link}}') {{{title}}}
        p: a(href='{{link}}') {{{summary}}}
      {{/each}}