extends layout

block title
  title Vinch

block meta
  meta(name='description', content='Hi, I\'m Vinch. And this is my website.')
  meta(property='og:image', content='http://v1n.ch/img/me.jpg')

block stylesheets
  != css('home')

block javascripts
  != js('home')

block body
  #home
    section
      h2 Who am I?
      p My name is <strong>Vincent Battaglia</strong>. I’m a Product Engineer based in San Francisco, California. Find out <a href='/about'>more about me</a>.
    section
      h2 What do I do?
      p I currently help building <a href='http://instaply.com' target='_blank'>Instaply</a>. I previously worked in web agencies and startups in Europe and the United States. Check out <a href='http://www.linkedin.com/in/vinch' target='_blank'>my LinkedIn profile</a> to know more about my path and my skills.
    //- section
    //-   h2 Latests posts
    //-   p My blog is only in French, for historical reasons.
    //-   ul
    //- section
    //-   h2 Photos
    //-   p I also post photos on Flickr.
    //- section
    //-   h2 Stuff I listen to...
    //-   p Follow me on Spotify!
    //- section
    //-   h2 Stalk me!?
    //-   p This is where I was recently (powered by Foursquare)
    //- section
    //-   h2 Experiments
    //-   ul
    //-   p Find more on GitHub